.about-wrapper {
    border: 1px solid $border-color;
    padding: 42px;
    position: relative;
    z-index: 9;

    @include breakpoint (max-xl4){
        margin-top: -50px;
    }

    @include breakpoint (max-xxxl){
        margin-top: -60px;
    }

    @include breakpoint (max-xxl){
        margin-top: -70px;
    }

     @include breakpoint (max-xl){
        margin-top: -65px;
    }

    @include breakpoint (max-lg){
        margin-top: -55px;
    }
    
    &::before {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        bottom: 0;
        height: 100%;
        content: "";
        border-right: 1px solid $border-color;
        left: 49%;

        @include breakpoint (max-xxl){
           display: none;
        }
    }

    .about-bg-shape {
        position: absolute;
        bottom: 0;
        right: 0;
        z-index: -1;
    }

    .about-image {
        max-width: 564px;
        position: relative;

        img {
            @include imgw;
        }

        .about-image-2 {
            position: absolute;
            top: 0;
            right: 0;
            border-left: 20px solid $white;
            border-bottom: 20px solid $white;

            @include breakpoint (max-md){
                max-width: 230px;
            }

            @include breakpoint (max-sm){
                max-width: 150px;
            }
        }
    }

    .about-content {
        margin-left: 30px;

        @include breakpoint (max-xl){
            margin-left: 0;
        }

        p {
            max-width: 564px;
        }

        .about-list {
            margin-top: 30px;
            margin-bottom: 40px;

            li {
                font-size: 16px;
                font-weight: 600;
                color: $header-color;
                @include flex;
                gap: 15px;

                &:not(:last-child){
                    margin-bottom: 20px;
                }

                i {
                    color: $theme-color;
                    font-size: 20px;
                }
            }
        }
    }
}

.about-section {
    position: relative;

    .about-shape {
        position: absolute;
        top: 14%;
        left: 35px;

        @include breakpoint(max-xl) {
            display: none;
        }
    }

    .about-right-shape {
        position: absolute;
        top: 0;
        right: 0;
    }
}

.about-wrapper-2 {
    margin-bottom: 102px;

    @include breakpoint (max-xl){
        margin-bottom: 60px;
    }

    .about-image {
        position: relative;
        padding-left: 40px;
        z-index: 2;

        @include breakpoint (max-xl){
            padding-left: 0;

            img {
                @include imgw;
            }
        }

        .about-image-2 {
            border: 10px solid $white;
            position: absolute;
            bottom: 0;
            right: 75px;

            @include breakpoint (max-xl){
                right: 0;
            }

            @include breakpoint (max-xxs){
                width: 200px;
            }

            .video-btn {
                display: inline-block;
                width: 100px;
                height: 100px;
                line-height: 100px;
                text-align: center;
                border-radius: 50%;
                background-color: $theme-color;
                color: $white;
                font-size: 25px;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);

                @include breakpoint (max-sm){
                    width: 70px;
                    height: 70px;
                    line-height: 70px;
                    font-size: 18px;
                }

                &.ripple {
                    &::before,&::after {
                        width: 100px;
                        height: 100px;
                        box-shadow: 0 0 0 0 rgba(96, 172, 69, 0.5);

                        @include breakpoint (max-sm){
                            width: 70px;
                            height: 70px;
                        }
                    }
                  
                }
            }
        }

        &::before {
            position: absolute;
            top: 40px;
            left: 0;
            width: 450px;
            height: 541px;
            content: "";
            border: 10px solid $theme-color;
            z-index: -1;

            @include breakpoint (max-xl){
                display: none;
            }
        }
    }

    .about-content {
        p {
            max-width: 570px;
        }

        .about-list {
            margin-top: 30px;
            margin-bottom: 40px;

            li {
                font-size: 16px;
                font-weight: 600;
                color: $white;
                @include flex;
                gap: 15px;

                &:not(:last-child){
                    margin-bottom: 20px;
                }

                i {
                    color: $theme-color;
                    font-size: 20px;
                }
            }
        }
    }
}

.about-wrapper-3 {
    margin-bottom: 45px;

    @include breakpoint (max-lg){
       margin-bottom: 0;
    }

    .about-image {
        position: relative;
        z-index: 2;

        @include breakpoint (max-xl){
            max-width: 800px;

            img {
                @include imgw;
            }
        }

        .about-image-2 {
            position: absolute;
            bottom: -44px;
            right: 10px;

            @include breakpoint (max-lg){
               bottom: 0;
               right: 0;
            }

            @include breakpoint (max-md){
               max-width: 300px;
            }

            @include breakpoint (max-sm){
                max-width: 200px;
            }
        }
    }

    .about-content {
        padding-left: 100px;

        @include breakpoint (max-xl){
            padding-left: 0;
        }

        .date {
            margin-top: 25px;

            li {
                font-size: 16px;
                font-weight: 600;
                color: $header-color;

                &:not(:last-child) {
                    margin-bottom: 10px;
                }
            }
        }
    }
}

.about-wrapper-4 {
    margin-bottom: 115px;

    @include breakpoint (max-xxl){
        margin-bottom: 90px;
    }

    @include breakpoint (max-xl){
        margin-bottom: 0;
    }

    .about-image {
        max-width: 555px;
        position: relative;

        .dot-shape {
            position: absolute;
            left: -47px;
            bottom: -50px;
            z-index: -1;

            @include breakpoint (max-xxl){
                display: none
            }
        }

        img {
            @include imgw;
        }

        .icon-items {
            padding: 40px 30px;
            background-color: $theme-color-2;
            position: absolute;
            bottom: -22%;
            right: -10%;

            @include breakpoint (max-xxl){
                right: 0;
            }

            @include breakpoint (max-lg){
                bottom: 0;
            }

            @include breakpoint (max-sm){
               max-width: 280px;
            }

            @include breakpoint (max-xxs){
                padding: 25px;
            }

            &::before {
                position: absolute;
                right: 10px;
                top: 10px;
                width: 15px;
                height: 15px;
                background-color: $white;
                content: "";
            }

            .icon {
                margin-bottom: 30px;
                filter: grayscale(100%) brightness(300%);

                img {
                    width: initial;
                    height: initial;
                    filter: grayscale(100%) brightness(300%);
                }

                @include breakpoint (max-xxs){
                    width: 40px;
                    margin-bottom: 15px;
                    
                    img {
                        width: 100%;
                        object-fit: cover;
                    }
                }
            }

            h5 {
                color: $white;

                @include breakpoint (max-xxs){
                   font-size: 14px;
                }
            }
        }
    }

    .about-content {
        p {
            font-size: 18px;
        }

        .list-items {
            @include flex;
            gap: 25px;
            margin-top: 30px;
            border-bottom: 1px solid $border-color;
            padding-bottom: 30px;
            flex-wrap: wrap;

            @include breakpoint (max-xl){
                gap: 15px;
            }

            ul {
                li {
                    font-size: 16px;
                    color: $header-color;
                    font-weight: 600;

                    &:not(:last-child){
                        margin-bottom: 10px;
                    }

                    i {
                        color: $theme-color;
                        margin-right: 5px;
                    }
                }
            }
        }

        .about-author {
            @include flex;
            gap: 50px;
            margin-top: 40px;

            @include breakpoint (max-xxl){
                gap: 40px;
            }

            @include breakpoint (max-xl){
                flex-wrap: wrap;
            }

            .author-image {
                @include flex;
                gap: 20px;
                border-right: 1px solid $border-color;
                padding-right: 50px;
            }
        }
    }
}