//>>>>> Component Button Here <<<<<//
.theme-btn {
    display: inline-block;
    vertical-align: middle;
    -webkit-appearance: none;
    border: none;
    outline: none !important;
    background-color: $theme-color;
    color: $white;
    font-size: 16px;
    font-weight: 500;
    padding: 22px 40px;
    transition: 0.5s ease-in-out;
    text-transform: capitalize;
    position: relative;
    z-index: 2;
    overflow: hidden;
    text-align: center;
    font-family: "DM Sans", sans-serif;
    line-height: 1;

    &::after {
        content: "";
        background-color: $header-color;
        position: absolute;
        top: 0;
        width: 100%;
        left: 0;
        right: 0;
        bottom: 0;
        clip-path: circle(0% at 50% 50%);
        transition: all cubic-bezier(0, 0.96, 0.58, 1.1) 0.8s;
        z-index: -1;
    }

    i {
        margin-left: 10px;
    }

    &.header-bg {
        background-color: $header-color;

        &::after {
            background-color: $theme-color;
        }

        &:hover {
            background-color: $theme-color;
        }
    }

    &:hover {
        background-color: $header-color;
        color: $white;

        &::after {
            clip-path: circle(100% at 50% 50%);
            transition: all cubic-bezier(0, 0.96, 0.58, 1.1) 4s;
        }
    }


    @include breakpoint (max-md){
        padding: 20px 32px;
    }

    @include breakpoint (max-sm){
        padding: 18px 30px;
        font-size: 14px;
    }
}

.link-btn {
    font-family: "DM Sans";
    text-transform: capitalize;
    font-size: 16px;
    font-weight: 500;
    color: $text-color;
    display: inline-block;

    i {
        color: $header-color;
        padding-left: 7px;
        @include transition;
    }

    &:hover {
        color: $theme-color;

        i {
            color: $theme-color;
        }
    }
}

//>>>>> Component Button End <<<<<//