.faq-wrapper {
    margin-top: 90px;

    @include breakpoint (max-xl4){
        margin-top: 0;
    }
    
    .faq-image {
        height: 603px;
        position: relative;

        @include breakpoint (max-md){
           height: 500px;
        }

        @include breakpoint (max-sm){
            height: 400px;
        }

        img {
            @include imgw;
            object-fit: cover;
        }

        .button-text {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);

            @include breakpoint (max-xl){
               display: none;
            }

            span {
                font-weight: 600;
                color: $white;
            }

            .video-btn {
                width: 80px;
                height: 80px;
                border-radius: 50%;
                text-align: center;
                line-height: 80px;
                background-color: $white;
                color: $theme-color;
                display: inline-block;
            }

            .ripple {
                &::before,&::after {
                    width: 80px;
                    height: 80px;
                    box-shadow: 0 0 0 0 rgba(96, 172, 69, .5);
                }
            }
        }
    }

    .faq-content {
        margin-left: 20px;

        @include breakpoint (max-xl){
            margin-left: 0;
        }

        .accordion-item {
            border: none !important;
            background: #F7F7F7;
    
            .accordion-header { 
                .accordion-button { 
                    font-weight: 600;
                    color: $header-color;
                    letter-spacing: -.2px;
                    border: none !important;
                    border-radius: 0;
                    box-shadow: none;
                    background: #F7F7F7;
                    padding: 20px 30px 0;
                    text-transform: capitalize;
                    font-size: 18px;
                   // box-shadow: $shadow;
    
                    @include breakpoint (max-xl){
                        font-size: 20px;
                    }
    
                    @include breakpoint (max-sm){
                        font-size: 18px;
                        padding: 20px 20px 0;
                    }
    
                    span {
                        margin-right: 20px;
                        color: $theme-color;
                    }
    
                    &::after {
                        content: "\f054";
                        font-family: $fa;
                        background: transparent;
                        font-weight: 500;
                        transition: all 0.3s ease-in-out !important;
                        color: $header-color;
                        font-size: 16px;
                    }
                    &:not(.collapsed)::after {
                        content: "\f077";
                        font-family: $fa;
                        background: transparent;
                        font-weight: 500;
                        color: $theme-color;
                    }
    
                    &.collapsed {
                        background: #F7F7F7;
                        padding: 18px 30px;
                        color: $header-color;
                    }
                }
            }
    
            .accordion-collapse { 
                .accordion-body {
                    padding-left: 33px;
                    padding-top: 15px;
                    padding-right: 40px;
                    color: $text-color;
                    background: #F7F7F7;
                    padding-bottom: 28px;
    
                    @include breakpoint (max-md){
                        padding-left: 60px;
                    }
    
                    @include breakpoint (max-sm){
                        padding-left: 50px;
                        padding-bottom: 20px;
                    }
                }
            }
        }

        &.style-2 {
            margin-left: 0;
        }
    }

    .faq-image-2 {
        position: relative;

        .faq-img {
            max-width: 480px;
            position: relative;

            .video-btn {
                width: 80px;
                height: 80px;
                border-radius: 50%;
                text-align: center;
                line-height: 80px;
                background-color: $white;
                color: $theme-color;
                display: inline-block;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
                z-index: 9;
            }

            .ripple {
                &::before,&::after {
                    width: 80px;
                    height: 80px;
                    box-shadow: 0 0 0 0 rgba(112, 0, 254, 0.5);
                }
            }

            img {
                @include imgw;
            }
        }

        .faq-img-2 {
            position: absolute;
            bottom: -22%;
            right: 0;

            @include breakpoint (max-lg){
                bottom: 0;
            }

            @include breakpoint (max-sm){
                max-width: 200px;

                img {
                    @include imgw;
                }
            }
        }
    }
}