.news-card-items {
    margin-top: 30px;

    .news-image {
        position: relative;
        z-index: 9;

        img {
            @include imgw;
        }

        &::before {
            @include before;
            background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, rgba(16, 32, 57, 0.80) 80%);
        }

        .news-content {
            text-align: center;
            position: absolute;
            bottom: 0;
            left: 0;
            text-align: center;
            margin: 0 auto;
            padding: 80px;

            @include breakpoint (max-lg){
                padding: 50px;
            }

            @include breakpoint (max-md){
                padding: 40px;
            }

            @include breakpoint (max-sm){
                padding: 30px;
            }

            .post-date {
                color: $header-color;
                background-color: $white;
                display: inline-block;
                font-weight: 500;
                font-family: $heading-font;
                padding-right: 15px;
                display: inline-flex;
                align-items: center;
                gap: 15px;
                margin-bottom: 20px;
                

                i {
                    padding: 8px 7px;
                    background-color: $theme-color;
                    color: $white;
                    font-size: 20px;
                }
            }

            h3 {
                line-height: 155%;

                a {
                    color: $white;

                    &:hover {
                        color: $theme-color;
                    }
                }
            }

            .post-items {
                @include flex;
                justify-content: center;
                gap: 40px;
                margin-top: 15px;

                li {
                   a {
                    color: $white;

                    i {
                        margin-right: 10px;
                    }

                   }
                }
            }
        }
    }
}

.news-section {
    position: relative;
    z-index: 9;

    &::before {
        @include before;
        background-color: $white;
        z-index: -1;
        top: 85.7%;
    }
}

.news-box-item {

    .news-image {
        position: relative;

        img {
            width: 100%;
            height: 100%;
        }

        .post-date {
            position: absolute;
            left: 25px;
            bottom: 7px;
            color: $header-color;
            background-color: $white;
            display: inline-block;
            font-weight: 500;
            font-family: $heading-font;
            padding-right: 15px;
            display: inline-flex;
            align-items: center;
            gap: 15px;
            margin-bottom: 20px;
            

            i {
                padding: 8px 7px;
                background-color: $theme-color;
                color: $white;
                font-size: 20px;
            }
        }

    }
    .news-content {
        margin-top: 20px;

        .news-list {
            @include flex;
            gap: 40px;
            margin-bottom: 20px;

            li {
                font-size: 16px;
                font-weight: 400;
                color: $text-color;

                i {
                    margin-right: 8px;
                }
            }
        }

        h3 {
            margin-bottom: 20px;

            a {

                &:hover {
                    color: $theme-color;
                }
            }
        }
    }
}

.news-details-area {
    .blog-post-details {
        .single-blog-post {
            .post-featured-thumb {
                img {
                    @include imgw;
                }
            }

            .post-content {
                margin-top: 30px;
    
                .post-list {
                    gap: 30px;
                    margin-bottom: 20px;
        
                    li {
                        font-size: 14px;
                        font-weight: 500;
        
                        i {
                            color: $theme-color;
                            margin-right: 5px;
                        }
                    }
                }
        
                h3 {
                    margin-bottom: 20px;
                    font-size: 36px;
                    font-weight: 500;
        
                    @include breakpoint (max-sm){
                        font-size: 28px;
                    }
        
                    a {
                        &:hover {
                            color: $theme-color;
                        }
                    }
                }

                .hilight-text {
                    border-left: 4px solid $theme-color;
                    padding: 40px;
                    background-color: #F4F5F8;

                    p {
                        max-width: 650px;
                        font-weight: 600;
                        text-transform: capitalize;
                        font-style: italic;
                        line-height: 30px;
                        color: $header-color;
                    }

                    svg {
                        float: right;
                        margin-top: -30px;
                    }
                }

                .details-image {
                    img {
                        @include imgw;
                    }
                }
            }
        }

        .tag-share-wrap {
            border-top: 1px solid $border-color;
            border-bottom: 1px solid $border-color;
            padding: 30px 0;

            .tagcloud {
                a {
                    display: inline-block;
                    padding: 12px 26px;
                    line-height: 1;
                    background: #F4F5F8;
                    margin-right: 8px;
                    text-transform: capitalize;
                    font-weight: 500;
                    -webkit-transition: all 0.4s ease-in-out;
                    transition: all 0.4s ease-in-out;

                    @include breakpoint (max-sm){
                        margin-bottom: 5px;
                    }

                    &:hover {
                        background-color: $theme-color;
                        color: $white;
                    }
                }
            }

            .social-share {
                span {
                    font-size: 18px;
                    color: $header-color;
                    font-weight: 600;
                }

                a {
                    font-size: 18px;
                    color: $header-color;

                    &:not(:last-child){
                        margin-right: 10px;
                    }

                    &:hover {
                        color: $theme-color;
                    }
                }
            }
        }

        .comments-area {
            margin-top: 40px;
            padding: 50px 40px;
            background-color: #F4F5F8;

            .comments-heading {
                margin-bottom: 30px;

                @include breakpoint (max-sm){
                   margin-bottom: 20px;
                }

                h3 {
                    font-size: 35px;
                    font-weight: 500;

                    @include breakpoint (max-sm){
                        font-size: 28px;
                    }
                }
            }

            .blog-single-comment {
                border-bottom: 1px solid $border-color;

                @include breakpoint (max-sm){
                    flex-wrap: wrap;
                    gap: 20px;
                }

                .content {
                    .head {
                        .con {
                            h5 {
                                margin-bottom: 5px;
                                font-weight: 600;
                            }
                        }
                        .star {
                            i {
                                color: $theme-color;
                                font-size: 14px;
                            }
                        }
                    }

                    .reply {
                        padding: 8px 15px;
                        font-weight: 400;
                        background-color: $white;
                        color: $theme-color;
                    }
                }
            }
            
        }

        .comment-form-wrap {
            h3 {
                font-size: 35px;
                margin-bottom: 30px;
                font-weight: 500;

                @include breakpoint (max-sm){
                    font-size: 28px;
                    margin-bottom: 20px;
                }
            }

            .form-clt {
                input,textarea {
                    width: 100%;
                    outline: none;
                    border: none;
                    background-color: #F4F5F8;
                    border: none;
                    padding: 16px 20px;
                    font-weight: 500;

                    &::placeholder {
                        color: $text-color;
                    }

                }

                textarea {
                    padding-bottom: 150px;
                }
            }
        }
    }
    
}

.main-sidebar {
    .single-sidebar-widget {
        padding: 40px 30px;
        background-color: #F8F8F8;
        margin-bottom: 30px;

        .wid-title {
            margin-bottom: 25px;

            h3 {
                position: relative;
                padding-bottom: 15px;
                font-size: 24px;
                font-weight: 500;

                &::before {
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    height: 2px;
                    width: 83px;
                    content: "";
                    background-color: $theme-color;
                }
            }
        }

        .search-widget {
            form {
                width: 100%;
                position: relative;
        
                input {
                    background-color: $white;
                    font-size: 15px;
                    padding: 20px;
                    width: 100%;
                    border: none;
                    color: $text-color;
                }
        
                button {
                    position: absolute;
                    right: 0;
                    top: 0;
                    width: 70px;
                    font-size: 18px;
                    height: 100%;
                    background-color:$theme-color;
                    color: $white;
                    text-align: center;
                    transition: all .3s ease-in-out;
                    
                    &:hover {
                        background-color: $header-color;
                    }
                }
            }
        }

        .news-widget-categories {
            ul {
                li {
                    
                    @include flex;
                    justify-content: space-between;
                    padding: 20px;
                    background-color: $white;
                    font-weight: 500;
                    @include transition;

                    a {
                        color: $header-color;
                    }

                    span {
                        @include transition;
                        color: $header-color;
                    }

                    &:not(:last-child){
                        margin-bottom: 12px;
                    }

                    &:hover {
                        background-color: $theme-color;
                        color: $white;

                        a {
                            color: $white;
                        }

                        span {
                            color: $white;
                        }
                    }


                    &.active {
                        background-color: $theme-color;
                       
                        a {
                            color: $white;
                        }

                        span {
                            color: $white;
                        }
                    }
                }
            }
        }

        .recent-post-area {
            .recent-items {
                @include flex;
                gap: 20px;

                &:not(:last-child){
                    margin-bottom: 20px;
                }

                .recent-content {
                    ul {
                        margin-bottom: 8px;

                        li {
                            i {
                                color: $theme-color;
                                margin-right: 5px;
                            }
                        }
                    }
                    h6 {
                        font-weight: 500;

                        a {
                            &:hover {
                                color: $theme-color;
                            }
                        }
                    }
                }
            }
        }

        .tagcloud {
            a {
                display: inline-block;
                padding: 11px 20px;
                line-height: 1;
                font-size: 16px;
                font-weight: 500;
                background: $white;
                margin-right: 5px;
                text-transform: capitalize;
                margin-bottom: 10px;
                @include transition;

                &:last-child {
                    margin-right: 0;            
                }
                
                &:hover {
                    background-color: $theme-color;
                    color: $white;
                }
            }
        }
    }
}