
:root {
    
    --body: #fff;
    --black: #000;
    --white: #fff;
    --theme: #60AC45;
    --theme2: #60AC45;
    --header: #141A18;
    --text: #74787C;
    --border:#DEDEDE;
    --border-2: #D4DCED;
    --bg: #102039;
    --box-shadow: 0px 4px 30px 0px rgba(233, 212, 212, 0.25);
}

// Theme Color - Defualt Colors
$black: var(--black);
$white: var(--white);
$theme-color: var(--theme);
$theme-color-2: var(--theme2);
$text-color: var(--text);
$header-color: var(--header);
$border-color: var(--border);
$border-color-2: var(--border-2);
$bg-color: var(--bg);
$shadow: var(--box-shadow);